<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-md-6 col-md-offset-3">
              <h3 class="text-center">Registro De Empleados</h3>
              <form class="" ng-submit="vm.crearUsuario()">
                <div class="form-group">
                  <input type="text" name="" style="margin: 0.5em .2em;" class="form-control text-center" placeholder="Nombres" ng-model="vm.usuarios.nombres" value="">
                  <input type="text" name="" style="margin: 0.5em .2em;" class="form-control text-center" placeholder="Apellidos" ng-model="vm.usuarios.apellidos" value="">
                  <input type="text" name="" style="margin: 0.5em .2em;" class="form-control text-center" placeholder="# Documento" ng-model="vm.usuarios.numDocumento" value="">
                  <input type="text" name="" style="margin: 0.5em .2em;" class="form-control text-center" placeholder="# Telefono" ng-model="vm.usuarios.telefono" value="">
                  <input type="text" name="" style="margin: 0.5em .2em;" class="form-control text-center" placeholder="Direccion" ng-model="vm.usuarios.direccion" value="">
                  <input type="text" name="" style="margin: 0.5em .2em;" class="form-control text-center" placeholder="# Movil" ng-model="vm.usuarios.movil" value="">
                  <input type="text" name="" style="margin: 0.5em .2em;" class="form-control text-center" placeholder="Email" ng-model="vm.usuarios.email" value="">
                  <input type="text" name="" style="margin: 0.5em .2em;" class="form-control text-center" placeholder="Contraseña" ng-model="vm.usuarios.password" value="">
                  <button type="submit" class="btn btn-primary btn-block" name="button">Registrar</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</section>
